body .toc{
    margin:0rem;
    text-align: center;
    height:100%;
    vertical-align: center;
    background-color: black;
    color:white
}

th, td{
    vertical-align: middle;
 }
 
 .film-title:hover{
    cursor: pointer;
    background-color: #FFE81F;
    color:black;
}

.toc>thead{
    background-color: black;
    color:#FFE81F;
    /* -webkit-text-stroke: 1px #FFE81F; */
    /* -webkit-text-fill-color: black; */
    /* font-size:2rem */

}


@media only screen and (max-width: 1024px) {
    body .toc {
        margin: auto ;
        margin-bottom:5rem;
        padding-left:1rem;
        padding-right:1rem;
    }
    .table-container{
        padding:1rem;
    }
    
  }

    
