body .toc {
    text-align: center;
    height: 100%;
    background-color: black;
    color: white;
}

th, td {
    vertical-align: middle;
}

.item-title:hover {
    cursor: pointer;
    background-color: #FFE81F;
    color: black;
}

.toc>thead {
    background-color: black;
    color: #FFE81F;
}

@media only screen and (max-width: 1024px) {
    body .toc {
        margin: auto;
        margin-bottom: 5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .table-container {
        padding: 1rem;
    }
}